# Environment Variables (Secrets & Tokens)
.env
.env*
*.env
env.js
build.sh
dist/
dist_web/
dist_tauri/

# OS and Editor files
.DS_Store
Thumbs.db
*.swp
*.bak
*~

# Logs
*.log
.firebase/
DOC.md

# Artifacts
releases/
src-tauri/target/
src-tauri/gen/android/build/
src-tauri/gen/android/app/build/
src-tauri/gen/android/.gradle/
*.keystore
*.jks
keystore.properties




# node_modules
node_modules/*